<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
        <add key="NugetorgProxy" value="https://nexus.cariprpc.it/repository/nuget.org-proxy/index.json" />
    </packageSources>
</configuration>