* {
  box-sizing: border-box;
}

:root {
  --primaryColor: #5ec297;
  --secondaryColor: #349b72;
  --darkColor: #000000;
  --midDarkColor: #2f313a;
  --grayColor: #444444;
  --midGrayColor: #ebebeb;
  --lightColor: #f6f6f7;
  --dangerColor: #d26b4e;
  --warningColor: #ff8f30;
  --successColor: #3aaa97;
  --ffBase: 'Roboto', sans-serif;

  --bgMain: var(--lightColor);
  --bgSecondary: #ffffff;
  --fcNegative: #ffffff;
  --fcBase: var(--grayColor);
  --bgAside: var(--midDarkColor);
  --bgMenuActive: var(--darkColor);
  --bcMenuActive: var(--primaryColor);
  --bcInput: var(--midGrayColor);
  --bcTable: var(--midGrayColor);
  --bgTable: var(--bgSecondary);
  --bgTableSecondary: var(--midGrayColor);
  --bgTableButton: var(--bgSecondary);
  --logoImageUrl: url('https://avatars3.githubusercontent.com/u/25212406?s=460&v=4');
}

input,
input:focus,
button,
button:focus {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul {
  list-style-type: none;
}

button {
  outline: none;
  padding: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
  color: var(--fcBase);
}

button:focus {
  outline: none;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: var(--ffBase);
  font-weight: normal;
  font-size: 0.875rem;
  color: var(--fcBase);
  background-color: var(--bgMain);
}

main {
  height: 100%;
  display: flex;
}

h1 {
  font-size: 1.25rem;
  font-weight: 500;
}

h2 {
  font-size: 0.875rem;
  font-weight: 500;
}

#app {
  height: 100%;
}

.discovery-icon {
  width: 1.25rem;
  min-width: 1.25rem;
  height: 1.25rem;
  margin: 0 0.25rem;
}

.hc-section-router {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2rem;
  overflow: hidden;
  overflow-y: auto;
}

.hc-aside {
  width: 3rem;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: var(--bgAside);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.hc-aside.is-open {
  width: 12rem;
}

.hc-aside__logo {
  background-color: var(--primaryColor);
  background-image: var(--logoImageUrl);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  min-width: 2.5rem;
  margin: 0.5rem 0;
  transition: all ease-in 0.2s;
}

.hc-aside.is-open .hc-aside__logo {
  height: 4rem;
  width: 4rem;
  min-width: 4rem;
}

.hc-aside__open-btn {
  border-width: 0;
  cursor: pointer;
  width: 3rem;
  margin-top: 0.5rem;
}

.hc-aside__open-btn .material-icons {
  font-size: 2rem;
  color: var(--fcNegative);
}

.hc-aside-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  align-self: flex-start;
  width: 100%;
  margin-top: 1rem;
}

.hc-aside-menu__item {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: var(--fcNegative);
  border-width: 0 0 0 4px;
  border-style: solid;
  border-color: transparent;
  text-decoration: none;
}

.hc-aside-menu__item:visited {
  text-decoration: none;
}

.hc-aside-menu__item:hover,
.hc-aside-menu__item.hc-aside-menu__item--active {
  border-color: var(--bcMenuActive);
  background-color: var(--bgMenuActive);
  color: var(--fcNegative);
  text-decoration: none;
}

.hc-aside-menu__item img {
  width: 1.5rem;
  margin-right: 1rem;
}

.hc-table {
  width: 100%;
}

.hc-table__head {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--fcBase);
}
.hc-table__head tr {
  height: 3rem;
}

.hc-table__row {
  cursor: pointer;
  background-color: var(--bgTable);
  border-bottom: 4px solid var(--bgMain);
}

.hc-table__row td {
  padding: 0.5rem;
}

.hc-table__row:hover {
  background-color: var(--primaryColor);
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8)
  );
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.hc-checks-table-container {
  animation: fadeIn 1s;
}

.hc-checks-table-container.is-hidden {
  display: none;
  animation: fadeOut 1s;
}

.hc-checks-table-container > td {
  padding: 0;
  padding-bottom: 0.25rem;
}

.hc-checks-table {
  width: 100%;
}

.hc-checks-table__header tr {
  height: 2rem;
}

.hc-checks-table__body td,
.hc-checks-table__header th {
  padding: 0.5rem;
}

.hc-checks-table__body td {
  background: var(--bgTable);
  border: 1px solid var(--bcTable);
}

.hc-checks-table__body td:first-child {
  border-width: 1px 1px 1px 0;
}

.hc-checks-table__body td:last-child {
  border-width: 1px 0 1px 1px;
}

.hc-checks-table__body td > * {
  vertical-align: middle;
  display: inline-block;
}

.hc-checks-table__header th {
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5em;
  background-color: var(--bgTableSecondary);
}

.hc-button {
  text-align: center;
  line-height: 1.2;
  vertical-align: middle;
  border-radius: 0;
  background-color: var(--secondaryColor);
  color: var(--fcNegative);
  padding: 0.5rem;
  height: 2rem;
}

.hc-button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.hc-liveness {
  display: flex;
  flex-direction: column;
}

.hc-liveness__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hc-refesh-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hc-refesh-group input {
  border: 1px solid var(--bcInput);
  border-radius: 0;
  padding: 0.5rem;
  margin: 0 0.5rem;
  max-width: 5rem;
  height: 2rem;
}

.hc-refesh-group input:hover,
.hc-refesh-group input:focus {
  border-color: transparent;
  border-bottom: 2px solid var(--primaryColor);
  background-color: var(--primaryColor);
  color: var(--primaryColor);
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  );
}

.hc-refesh-group .hc-button {
  margin-left: 1rem;
}

.hc-liveness__container {
  display: flex;
  flex-direction: column;
}

.hc-table-btn {
  height: 2.5rem;
  width: 2.5rem;
  min-width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bgTableButton);
}

.hc-table-btn:hover {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  );
}

.hc-webhooks-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

@media only screen and (max-width: 1679px) {
  .hc-webhooks-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1259px) {
  .hc-webhooks-container {
    grid-template-columns: 1fr;
  }
}

.webhook-card {
  background-color: var(--bgSecondary);
  box-shadow: 0 0.375em 1em 0 rgba(0, 0, 0, 0.1);
  padding: 2rem 1rem;
  border-radius: 5px;
}

.webhook-card p {
  margin: 0.25rem;
}

.react-json-view {
  margin-top: 0.5rem;
}

.d-flex {
  display: flex;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.break-word {
  word-break: break-all;
}
