name: HealthChecks EventStore.gRPC CI

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - src/HealthChecks.EventStore.gRPC/**
      - test/HealthChecks.EventStore.gRPC.Tests/**
      - test/_SHARED/**
      - .github/workflows/healthchecks_eventstore_grpc_ci.yml
      - .github/workflows/reusable_ci_workflow.yml
      - Directory.Build.props
      - Directory.Build.targets
    tags-ignore:
      - release-*
      - preview-*

  pull_request:
    branches: [ master ]
    paths:
      - src/HealthChecks.EventStore.gRPC/**
      - test/HealthChecks.EventStore.gRPC.Tests/**
      - test/_SHARED/**
      - .github/workflows/healthchecks_eventstore_grpc_ci.yml
      - .github/workflows/reusable_ci_workflow.yml
      - Directory.Build.props
      - Directory.Build.targets

jobs:
  build:
    services:
      eventstore:
        image: eventstore/eventstore
        ports:
          - "1113:1113"
          - "2113:2113"
        env:
          EVENTSTORE_INSECURE: true

    uses: ./.github/workflows/reusable_ci_workflow.yml
    with:
      PROJECT_PATH: ./src/HealthChecks.EventStore.gRPC/HealthChecks.EventStore.gRPC.csproj
      TEST_PROJECT_PATH: ./test/HealthChecks.EventStore.gRPC.Tests/HealthChecks.EventStore.gRPC.Tests.csproj
      CODECOV_FLAGS: EventStore.gRPC
