name: HealthChecks Application Status CI

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - src/HealthChecks.ApplicationStatus/**
      - test/HealthChecks.ApplicationStatus.Tests/**
      - test/_SHARED/**
      - .github/workflows/healthchecks_applicationstatus_ci.yml
      - .github/workflows/reusable_ci_workflow.yml
      - Directory.Build.props
      - Directory.Build.targets
    tags-ignore:
      - release-*
      - preview-*

  pull_request:
    branches: [ master ]
    paths:
      - src/HealthChecks.ApplicationStatus/**
      - test/HealthChecks.ApplicationStatus.Tests/**
      - test/_SHARED/**
      - .github/workflows/healthchecks_applicationstatus_ci.yml
      - .github/workflows/reusable_ci_workflow.yml
      - Directory.Build.props
      - Directory.Build.targets

jobs:
  build:
    uses: ./.github/workflows/reusable_ci_workflow.yml
    with:
      PROJECT_PATH: ./src/HealthChecks.ApplicationStatus/HealthChecks.ApplicationStatus.csproj
      TEST_PROJECT_PATH: ./test/HealthChecks.ApplicationStatus.Tests/HealthChecks.ApplicationStatus.Tests.csproj
      CODECOV_FLAGS: ApplicationStatus
