name: HealthChecks Aws Sns CI

on:
  workflow_dispatch:
  push:
   branches: [ master ]
   paths:
     - src/HealthChecks.Aws.Sns/**
     - test/HealthChecks.Aws.Sns.Tests/**
     - test/_SHARED/**
     - .github/workflows/healthchecks_aws_sns_ci.yml
     - .github/workflows/reusable_ci_workflow.yml
     - Directory.Build.props
     - Directory.Build.targets
   tags-ignore:
     - release-*
     - preview-*

  pull_request:
    branches: [ master ]
    paths:
      - src/HealthChecks.Aws.Sns/**
      - test/HealthChecks.Aws.Sns.Tests/**
      - test/_SHARED/**
      - .github/workflows/healthchecks_aws_sns_ci.yml
      - .github/workflows/reusable_ci_workflow.yml
      - Directory.Build.props
      - Directory.Build.targets

jobs:
  build:
    uses: ./.github/workflows/reusable_ci_workflow.yml
    with:
      PROJECT_PATH: ./src/HealthChecks.Aws.Sns/HealthChecks.Aws.Sns.csproj
      TEST_PROJECT_PATH: ./test/HealthChecks.Aws.Sns.Tests/HealthChecks.Aws.Sns.Tests.csproj
      CODECOV_FLAGS: Aws.Sns
