name: HealthChecks Publisher.Datadog CI

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - src/HealthChecks.Publisher.Datadog/**
      - test/HealthChecks.Publisher.Datadog.Tests/**
      - test/_SHARED/**
      - .github/workflows/healthchecks_publisher_datadog_ci.yml
      - .github/workflows/reusable_ci_workflow.yml
      - Directory.Build.props
      - Directory.Build.targets
    tags-ignore:
      - release-*
      - preview-*

  pull_request:
    branches: [ master ]
    paths:
      - src/HealthChecks.Publisher.Datadog/**
      - test/HealthChecks.Publisher.Datadog.Tests/**
      - test/_SHARED/**
      - .github/workflows/healthchecks_publisher_datadog_ci.yml
      - .github/workflows/reusable_ci_workflow.yml
      - Directory.Build.props
      - Directory.Build.targets

jobs:
  build:
    uses: ./.github/workflows/reusable_ci_workflow.yml
    with:
      PROJECT_PATH: ./src/HealthChecks.Publisher.Datadog/HealthChecks.Publisher.Datadog.csproj
      TEST_PROJECT_PATH: ./test/HealthChecks.Publisher.Datadog.Tests/HealthChecks.Publisher.Datadog.Tests.csproj
      CODECOV_FLAGS: Publisher.Datadog
