name: HealthChecks AzureDigitalTwin CI

on:
  workflow_dispatch:
  push:
   branches: [ master ]
   paths:
     - src/HealthChecks.AzureDigitalTwin/**
     - test/HealthChecks.AzureDigitalTwin.Tests/**
     - test/_SHARED/**
     - .github/workflows/healthchecks_azure_digitaltwin_ci.yml
     - .github/workflows/reusable_ci_workflow.yml
     - Directory.Build.props
     - Directory.Build.targets
   tags-ignore:
     - release-*
     - preview-*

  pull_request:
    branches: [ master ]
    paths:
      - src/HealthChecks.AzureDigitalTwin/**
      - test/HealthChecks.AzureDigitalTwin.Tests/**
      - test/_SHARED/**
      - .github/workflows/healthchecks_azure_digitaltwin_ci.yml
      - .github/workflows/reusable_ci_workflow.yml
      - Directory.Build.props
      - Directory.Build.targets

jobs:
  build:
    uses: ./.github/workflows/reusable_ci_workflow.yml
    with:
      PROJECT_PATH: ./src/HealthChecks.AzureDigitalTwin/HealthChecks.AzureDigitalTwin.csproj
      TEST_PROJECT_PATH: ./test/HealthChecks.AzureDigitalTwin.Tests/HealthChecks.AzureDigitalTwin.Tests.csproj
      CODECOV_FLAGS: AzureDigitalTwin
