name: HealthChecks Sqlite CI

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - src/HealthChecks.Sqlite/**
      - test/HealthChecks.Sqlite.Tests/**
      - test/_SHARED/**
      - .github/workflows/healthchecks_sqlite_ci.yml
      - .github/workflows/reusable_ci_workflow.yml
      - Directory.Build.props
      - Directory.Build.targets
    tags-ignore:
      - release-*
      - preview-*

  pull_request:
    branches: [ master ]
    paths:
      - src/HealthChecks.Sqlite/**
      - test/HealthChecks.Sqlite.Tests/**
      - test/_SHARED/**
      - .github/workflows/healthchecks_sqlite_ci.yml
      - .github/workflows/reusable_ci_workflow.yml
      - Directory.Build.props
      - Directory.Build.targets

jobs:
  build:
    uses: ./.github/workflows/reusable_ci_workflow.yml
    with:
      PROJECT_PATH: ./src/HealthChecks.Sqlite/HealthChecks.Sqlite.csproj
      TEST_PROJECT_PATH: ./test/HealthChecks.Sqlite.Tests/HealthChecks.Sqlite.Tests.csproj
      CODECOV_FLAGS: Sqlite
